[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pyautogui = "*"
jupyter = "*"
"python3-xlib" = "*"
matplotlib = "*"
opencv-python = "*"
jupyter-contrib-nbextensions = "*"
pytesseract = "*"
pandas = "*"


[requires]

python_version = "3.5"
